__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
/build/
/dist/
/roms/
/resources/
/screenshots/
/saves/
/vendor/
*.gen
*.bin
*.smd
*.mdrom
*.7z
*.zip
*.exe
*.dll
*.o
*.a
*.so
*.grs
*.grs.tmp.*
*.sav
*.srm
*.ppm
*.wav
*.log
settings.cfg
.env
.env.*
.DS_Store
Thumbs.db

gamepad.cfg
gamepad.cfg.tmp

gamepad-*.cfg
gamepad-*.cfg.tmp
